* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    scroll-behavior: smooth;
}

.icons{
    cursor: pointer;
}

.status-bar{
    height: 30px;
}

.header{
    height: 50px;
    position: -webkit-sticky;
    position: sticky !important;
    top: 0 !important;
    z-index: 10;
}

.btn-icon{
    background-color: transparent;
    text-decoration: none !important;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    transition: color 200ms ease-out, background-color 200ms ease-out;
    color: rgba(0,0,0,.8);
    &:active{
        background-color: lighten($primary, 50%);
        color: $secondary !important;
    }

    &.active{
        color: $primary;
    }
}

.d-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
    @media (max-width: 576px){
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 767px){
    .display-xs-none{
        display: none !important;
    }
}