
.sidenav-items{
    padding: 0.5rem 0.5rem 0 0.5rem;
    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
    .nav-item{
        cursor: pointer;
        margin-bottom: 0.5rem;
        color: rgba(0,0,0,.87);
        &:hover{
            color: #000;
        }
    }

    a{
        color: inherit;
        text-decoration: none;
        &.active{
            color: #4e6e91;
            text-decoration: underline;
        }
    }

    .sub-items {
        padding: 0 0.5rem 0 2rem;
        li{
            margin: .25rem 0;
            &:hover{
                a{
                    color: #000;
                }
            }
        }
    }
}
