$primary: #4e6e91;
$dark: #363945;
$secondary:  #939597;
$light: #fff;
$bg-light: #fafafa;

$theme-colors: (
  "primary": $primary,
  "dark": $dark,
  "secondary": $secondary
);

@import './assets/scss/breakpoint';
@import './assets/scss/utility';
@import './assets/scss/base';
@import "~bootstrap/scss/bootstrap";